[submodule "ppg"]
	path = ppg
	url = https://github.com/stb-gaming/PPGTV-WebGL.git
[submodule "dlrr"]
	path = dlrr
	url = https://github.com/stb-gaming/Dexters-Laboratory-Robot-Rampage-Remake-WebGL.git
[submodule "tra"]
	path = tra
	url = https://github.com/stb-gaming/Tomb-Raider-Apocalypse-Remake-WebGL.git
[submodule "userscripts"]
	path = userscripts
	url = https://github.com/stb-gaming/userscripts.git
[submodule "sdff"]
	path = sdff
	url = https://github.com/stb-gaming/Scooby-Doo-in-Freaky-Fairground-Remake-WebGL.git
