html,body {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}
body {
	margin: 0;
	font-family: sans-serif;
	padding-bottom: 0 !important;
	position: relative;
	display: grid;
	
}

body:has(#sky-remote) {
	padding: 1.3rem;
}



body:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: grey;
	z-index: -1;
	height: 100vh;
}

.bind-popup,.settings-panel, #status.emscripten:not(:empty),#status.monogame:not(:empty) {
	color:black;
	background-color: hsla(0, 0%, 83%, 0.9);
	border-radius: 10px;
	padding: min(20px, 10vw);
	font-family: sans-serif;
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	/* height: 100%; */
	/* width: 100%; */
	/* width: min(100% - 4rem, 50ch);
	height: min(100% - 4rem, 9ch); */
	margin-inline: auto;
	height: auto;
	/* height: auto; *
	height: fit-content;
	max-height: 100vh;
	/* overflow-y: scroll; */
}

.bind-header {
	display: flex;
	justify-content: space-between;
}
.settings-panel {
	z-index: 2;
    width: fit-content;
	display: grid;
	grid-template-areas: "title toolbar" "info info" "content content";
}

.settings-panel h1 {
	grid-area: title;
	margin: 0;
	padding: 0;

}
.settings-panel .toolbar {
	grid-area: toolbar;
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
}
.settings-content {
	grid-area: content;
}
.settings-info {
	grid-area: info;
}
.bind-popup {
	z-index: 3;

}

:root {
	font-family: 'Times New Roman', Times, serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

*,
:before,
:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-repeat: no-repeat;
}

canvas {
	vertical-align: top;
	/* image-rendering: pixelated; */
	width: 100%;
	height: auto;
	max-height: 100vh;
	object-fit: contain;
	touch-action: auto;
}


.emscripten_border,.monogame_border {
	border-radius: .2rem;
	position: relative;
	background-color: black;
	border: 1px solid black;
	z-index: 1;

	display: grid;
	grid-template-areas: "top top top" "left game right" "bottom bottom bottom";
	grid-template-columns: 0 auto 0;
	grid-template-rows: 0 auto 0;
}
.emscripten_border>#canvas,.monogame_border>#monogamecanvas {

	grid-area: game;
	border: 0px none;
	background-color: black;
}

.emscripten,.monogame {
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

textarea.emscripten,textarea.monogame {
	font-family: monospace;
	width: 80%;
}

div.emscripten ,div.monogame {
	text-align: center;
}

.spinner {
	height: 50px;
	width: 50px;
	margin: 0px auto;
	-webkit-animation: rotation .8s linear infinite;
	-moz-animation: rotation .8s linear infinite;
	-o-animation: rotation .8s linear infinite;
	animation: rotation 0.8s linear infinite;
	border-left: 10px solid rgb(0, 150, 240);
	border-right: 10px solid rgb(0, 150, 240);
	border-bottom: 10px solid rgb(0, 150, 240);
	border-top: 10px solid rgb(100, 0, 200);
	border-radius: 100%;
	background-color: rgb(200, 100, 250);
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes rotation {
	from {
		-moz-transform: rotate(0deg);
	}

	to {
		-moz-transform: rotate(360deg);
	}
}

@-o-keyframes rotation {
	from {
		-o-transform: rotate(0deg);
	}

	to {
		-o-transform: rotate(360deg);
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.toolbar {
	/* position: sticky; */
	/* bottom: 0;
	right:0; */
	display: flex;
	align-items: center;
	background-color: rgba(128, 128, 128, 0.38);
	position: absolute;

}

.toolbar .active  {
	outline: red solid 1px;
}

.toolbar.top,.toolbar.bottom {
	height: min-content;
	width: 100%;

}
.toolbar.left,.toolbar.right {
	flex-flow: column;
	width: min-content;
	height: 100%;
}
.toolbar.top {
	grid-area: top;
	top: 0;
}
.toolbar.left {
	grid-area: left;
	left: 0;
}
.toolbar.right {
	grid-area: right;  justify-self: right;
	top:0;
}
.toolbar.bottom {
	justify-content: flex-end;
	grid-area: bottom;
	bottom: 0;
}

.toolbar.top [data-balloon]::before {
	bottom:unset;
	top: 100%;
	margin-top: .5rem;
}
.toolbar.bottom [data-balloon]:last-child:before {
	right: 0;
    left: unset;
    translate: 0 0;
}
.toolbar.top [data-balloon]:first-child:before {
	left: 0;
    right: unset;
    translate: 0 0;
}

.toolbar.left [data-balloon]::before,.toolbar.right [data-balloon]::before {
	translate:  0 -50%;
	top:50%;
	bottom:unset;
}

.toolbar.right [data-balloon]::before {
	right: 100%;
	left: unset;
	margin-left: .5rem;
}
.toolbar.left [data-balloon]::before {
	left: 100%;
	right: unset;
	margin-right: .5rem;
}



[data-fullscreen='true']  .toolbar {
	position: absolute;
	bottom: 0;
	right:0;
}

.emscripten_border a,.monogameborder a {
	-webkit-text-stroke: 1px black;
}



:not([data-full/screen="true"])> canvas {
	max-height: calc(100vh - 330px);
} 

#sky-remote-container {
	width: 100%;
	position: relative;
	z-index: 1;
	bottom: 0;
	height: 260px;
	-ms-touch-action: none;
	touch-action: none;
	margin: 0 auto;
}

#sky-remote {
	position: relative;
	bottom: 0;
	height: 100%;
	width: 100%;
	touch-action: none;
}

#sky-remote,
#sky-remote>* {
	-webkit-user-select: none;
	/* Safari? */
	user-select: none;
}


#sky-remote-dpad {
	position: absolute;
	bottom: 26px;
	left: 1px;
	width: 184px;
	height: 184px;
	background-color: turquoise;
	border-radius: 50%;
	background-size: 165px;
	background-position: 10px;
}

#sky-remote-dpad-left,
#sky-remote-dpad-right,
#sky-remote-dpad-up,
#sky-remote-dpad-down {
	-webkit-box-shadow: 0px 0px 0 3px rgba(0, 0, 0, 0.1), 0px 5px 5px 0 rgba(0, 0, 0, 0.2),
		0px 3px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2);
}



#sky-remote-select {
	position: absolute;
	right: 10px;
	bottom: 43px;
	background-color: cyan;
	border-radius: 50%;
	height: 110px;
	width: 110px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
}

#sky-remote-red,
#sky-remote-green,
#sky-remote-yellow,
#sky-remote-blue,
#sky-remote-backup,
#sky-remote-help,
#sky-remote-log {
	position: absolute;
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

#sky-remote-red {
	background-color: red;
	right: 130px;
	bottom: 19px;
}

#sky-remote-backup {
	background-color: black;
	margin: auto;
	left: 0;
	right: 0;
	top: 40px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	width: 110px;
	height: 40px;
	border-bottom-left-radius: 70%;
	border-bottom-right-radius: 70%;
	border-top-left-radius: 30%;
	border-top-right-radius: 30%;
}

#sky-remote-help {
	background-color: black;
	margin: auto;
	left: 0;
	right: 0;
	top: 5px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	width: 80px;
	height: 30px;
}

#sky-remote-log {
	background-color: black;
	margin: auto;
	right: 10px;
	top: 5px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	width: 80px;
	height: 35px;
	text-align: center;
	z-index: 3;
}

#sky-remote-green {
	background-color: green;
	right: 130px;
	bottom: 88px;
}

#sky-remote-yellow {
	background-color: yellow;
	right: 86px;
	bottom: 149px;
}

#sky-remote-blue {
	background-color: blue;
	right: 15px;
	bottom: 169px;
}

#game-log-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	font-family: monospace;
	z-index: 2;

	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	overflow-y: scroll;
	color: black;
}


#game-log p {
	display: block;
	margin: 0;
	border: solid 0.15em;
	border-color: #ffffff;

}

#game-log .info {
	color: blue
}

#game-log .warn {
	color: #f2ab26;
	background-color: #332b00;
	border-color: #665500;
}

#game-log .error {
	color: #f17678;
	background-color: #290000;
	border-color: #5c0000;
}




@media (max-width: 440px) {
	body {
		padding: .5rem;
	}

	body:after {
		border-radius: .7rem;
	}

	.toolbar {
		width: 100%;
		justify-content: space-around;
	}


	#sky-remote-dpad {
		left: 0px;

		width: 150px;
		height: 150px;
	}

	#sky-remote-select {
		width: 80px;
		height: 80px;
	}


	#sky-remote-red,
	#sky-remote-green,
	#sky-remote-yellow,
	#sky-remote-blue,
	#sky-remote-log {
		height: 40px;
		width: 40px;
	}

	#sky-remote-blue {
		bottom: 136px;
	}

	#sky-remote-yellow {
		right: 66px;
		bottom: 124px;
	}

	#sky-remote-green {
		right: 106px;
		bottom: 80px;
	}

	#sky-remote-red {
		right: 97px;
		bottom: 19px;
	}
}

@media screen and (orientation: landscape) and (max-height: 680px) {
	.emscripten_border,.monogame_border {
		position: absolute;
		left: 50%;
		translate: -50%;
		height: calc(100vh - 1.3rem * 2);
		width: calc(100vw - 1.3rem * 2 - 2 * 200px);
	}



	canvas.emscripten ,canvas.monogame {
		height: calc(100vh - 1.3rem * 2);
		margin-left: 0;
		margin-right: 0;
		margin-top: auto;
		margin-bottom: auto;
		max-height: none;
	}

	#sky-remote-backup {
		top: unset;
    right: unset;
    left: 82px;
    bottom: -39px;
	}
	#sky-remote-help {
		top: unset;
    right: unset;
    left: 82px;
	bottom: -81px;
	}


	@media (max-width: 440px) {

		.emscripten_border,.monogame_border {
			height: calc(100vh - .5rem * 2);
		}
	}


	@media (max-width: 845px) {
		.emscripten_border,.monogame_border {
			width: calc(100vw - .5rem * 2);
		}

		#sky-remote {
			opacity: 60%;
		}
	}
}

#spinner {
	display: none;
}

body>.emscripten,body>.monogame {
	position: absolute;
	top: 10%;
	z-index: 2;
	color: white;
	left: 50%;
	translate: -50% -50%;
	height: 10px;

}

#status {
	translate: -50% 1em;
}


#gametext {
	position: absolute;
	top: calc(30% - 42px);
	left: calc(50% - 8px);
	translate: -50% -50%;
	color: black;
}
#gametext.center {
	top: calc(50% - 42px);
}


#scoretext {
	position: absolute;
	top: 0;
	left: 0;
	translate: 1% -50%;
	color: black;
}

#bind-canvas {
	grid-area: game;
}

#bind-canvas span {
	/* opacity:  70%; */
	position: absolute;
	color: black;
	outline: white solid 1px;
}
#bind-canvas [data-role=button] {
	background: rgba(128, 128, 128, 0.75);
}
#bind-canvas [data-role=slider] {
	background: rgba(0, 128, 0, 0.75);
}
#bind-canvas [data-role=slider-horizontal] {
	background: rgba(255, 255, 0, 0.75);
}
#bind-canvas [data-role=slider-vertical] {
	background: rgba(0, 0, 255, 0.75);
}
#bind-canvas [data-role=dial] {
	background: rgba(255, 0, 0, 0.75);
	border-radius: 50%;
}
#bind-canvas [data-role=button]::after {
	color: grey;
}
#bind-canvas [data-role=slider]::after {
	color: green;
}
#bind-canvas [data-role=slider-horizontal]::after {
	color: yellow;
}
#bind-canvas [data-role=slider-vertical]::after {
	color: blue;
}
#bind-canvas [data-role=dial]::after {
	color: red;
}

#bind-canvas [data-target]::before {
	content: attr(data-target);
}
#bind-canvas [data-target]::after {
	content: attr(data-role);
}