body {
	user-select: none;
	/* Prevent text selection */
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	pointer-events: none;
}


.bind-popup {
	background-color: hsla(0, 0%, 83%, 0.9);
	border-radius: 10px;
	padding: min(20px, 10vw);
	font-family: sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	/* height: 100%; */
	/* width: 100%; */
	width: min(100% - 4rem, 50ch);
	height: min(100% - 4rem, 9ch);
	margin-inline: auto;
	/* height: auto; */
	height: fit-content;
}
